cli/internal/xmlschema/mps-persistence.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <ref name="model" />
  </start>

  <define name="model">
    <element name="model">
      <ref name="any-attributes" />
      <ref name="persistence" />
      <zeroOrMore>
        <choice>
          <ref name="attribute" />
          <ref name="languages" />
          <ref name="imports" />
          <ref name="registry" />
          <ref name="node" />
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="persistence">
    <element name="persistence">
      <attribute name="version">
        <value>9</value>
      </attribute>
      <empty />
    </element>
  </define>

  <define name="attribute">
    <element name="attribute">
      <ref name="any-attributes" />
      <empty />
    </element>
  </define>

  <define name="languages">
    <element name="languages">
      <ref name="any-attributes" />
      <zeroOrMore>
        <choice>
          <element name="use">
            <ref name="any-attributes" />
            <empty />
          </element>
          <element name="devkit">
            <ref name="any-attributes" />
            <empty />
          </element>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="imports">
    <element name="imports">
      <ref name="any-attributes" />
      <zeroOrMore>
        <element name="import">
          <ref name="any-attributes" />
          <empty />
        </element>
      </zeroOrMore>
    </element>
  </define>

  <define name="registry">
    <element name="registry">
      <ref name="any-attributes" />
      <zeroOrMore>
        <element name="language">
          <ref name="any-attributes" />
          <zeroOrMore>
            <ref name="registry-concept" />
          </zeroOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <define name="registry-concept">
    <element name="concept">
      <ref name="any-attributes" />
      <zeroOrMore>
        <choice>
          <element name="child">
            <ref name="any-attributes" />
            <empty />
          </element>
          <element name="property">
            <ref name="any-attributes" />
            <empty />
          </element>
          <element name="reference">
            <ref name="any-attributes" />
            <empty />
          </element>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="node">
    <element name="node">
      <ref name="any-attributes" />
      <zeroOrMore>
        <choice>
          <element name="property">
            <ref name="any-attributes" />
            <empty />
          </element>
          <element name="ref">
            <ref name="any-attributes" />
            <empty />
          </element>
          <ref name="node" />
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="any-attributes">
    <zeroOrMore>
      <attribute>
        <anyName />
        <text />
      </attribute>
    </zeroOrMore>
  </define>
</grammar>
